<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List commonly used libraries for Data Science
* Examples for arithmetic expressions in Python
* A simple arithmetic expression to mutiply then add integers
* Example to convert minutes to hours

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C++
8. JavaScript
9. Swift
10. Go
11. MATLAB
12. SAS

### Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas
5. Matplotlib 
6. Keras
7. SciKit-Learn
8. PyTorch
9. Scrapy
10. ELI5
11. Theano
12. Caffe2

| Data Science Tools |
| --- |
| Apache Hadoop |
| RStudio |
| Weka |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
a = 5
b = 3
result = a + b
print(result)

8

In [12]:
x = 10
y = 7
result = x - y
print(result)

3

In [13]:
p = 4
q = 6
result = p * q
print(result)

24

In [14]:
m = 20
n = 5
result = m / n
print(result)

4.0

### This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [10]:
minutes = 200
hours = minutes / 60

print(f"{minutes} minutes is equal to {hours:.2f} hours")

200 minutes is equal to 3.33 hours

## Author
-----

Yuebei Xu